<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Advertisements</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<button>
    <a href="/web/logout">Logout</a>
</button>
<div id="advertisement"></div>
</body>
<script>
    $(document).ready(function () {
        $.getJSON('/api/v0/advertisements/{{ advertisement_id }}', {}, function (json) {
            const adv = $('#advertisement')
            adv.append(`<p>${json.title}</p>`)
                .append(`<p>${json.description}</p>`)
            if (json.user === {{ user.pk }}) {
                adv.append(`
                    <button>Удалить</button>
                    <button>Редактирвоать</button>
                    <button>Скрыть</button>
                `)
            } else {
                adv.append(`<button>Позвонить</button>`)
            }
        })
    })
</script>
</html>