<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Advertisements</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<button>
    <a href="/web/logout">Logout</a>
</button>
<button>
    <a href="/web/advertisements/add">Add new advertisement</a>
</button>

<div id="advertisement_list"></div>

</body>
<script>
    $(document).ready(function () {
        $.getJSON('/api/v0/advertisements', {}, function (json) {
            for (const i in json) {
                const link = `/web/advertisements/${json[i].advertisement_id}`
                $('#advertisement_list').append(`<p><a href="${link}">${json[i].title}</a></p>`)
            }
        })
    })
</script>
</html>